
body {
    grid-template-rows: auto 1fr auto;
}

main {
    align-items: start;
    max-width: none;

}

section {
    max-width: 1200px;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
    padding: 25px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
}

.wide  {
    display: flex;
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}

.card.title {
    background: none;
    display: flex;
    align-self: center;
}

.card {
    background: none;
}

.span {
    grid-column: span 2;    
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 760px) {
    main {
        grid-template-columns: 1fr;
        padding-left: 0;
        padding-right: 0;
        gap: 0;
    }
    .card {
        border-radius: 0;
        grid-column: span 2;

    }
    .card h2 {
        text-align: center;
    }

}

