
main {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    max-width: 1200px;

}

.card.title {
    background: none;
    display: flex;
    align-self: center;
}


/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .card:last-child {
        grid-column: span 2;
    }
}

@media screen and (max-width: 760px) {
    .card:first-child {
        grid-column: span 2;
    }
}

@media screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
        padding-left: 0;
        padding-right: 0;
        gap: 0;
    }
    .card {
        border-radius: 0;
        grid-column: span 2;

    }
    .card h2 {
        text-align: center;
    }

}

