main {
    grid-template-columns: 1fr;
    max-width: 1600px;
}

.imgViewer {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.5s;
}

.imgViewer img {
    max-width: 80vw;
    max-height: 80vh;

}
.hidden {
    opacity: 0;
    pointer-events: none;
}

.gallery {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-right: 0px;
    margin-left: 20px;
}

.gallery img {
    height: 300px;
    object-fit: cover; 
    object-position: center;
    width: 480px;
}

.card {
    background: none;
}

/* DARK MODE */
.darkMode .card {
    background: none;
}

.darkMode h1 {
    color: rgb(236, 236, 236);
}


/* MEDIA QUERIES */
@media screen and (width < 860px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (width < 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery img {
        height: auto;
    }
}

