@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Climate+Crisis&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Stalinist+One&display=swap&family=Orbitron:wght@400..900&display=swap');

/* SKIP LINKS */
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/* CORE SECTIONS */
body {
    --green: rgb(134, 173, 33);
    --green2: rgb(94, 116, 16);
    --yellow: rgb(221, 181, 19);
    --yellow2: rgb(210, 136, 9);
    --black: rgb(19, 18, 13);
    --white: rgb(221, 222, 217);
    --dgrey: rgb(28, 27, 25);
    --grey: rgb(149, 149, 148);

    color: var(--white);
    background-color: var(--black);
    font-family: Noto Sans, sans-serif;
    font-size: 20px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    transition: color 0.25s, border-color 0.25s, background 0.25s;
}
body.lightMode {
    color: var(--black);
    background-color: var(--white);
}

header {
    padding:25px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: grid;
    gap: 30px;
}

footer {
    color: var(--white);
    background-color: var(--dgrey);
    text-align: center;
    padding: 15px;
    font-size: smaller;
    height: auto;
    width: 100vw;
}
.lightMode footer {
    color: rgb(26, 27, 24);
    background: none;
}


/* LAYOUTS */
.grid.layout {
    grid-template-rows: 140px auto 75px;
    background-color: (193, 226, 59);
    display: grid;
}

.span {
    grid-column: span 2;    
}

.center {
    justify-self: center;
    text-align: center;
}


/* TITLE/HEADING STYLES */
.title {
    color: var(--green);
    font-size: 60px;
    font-family: orbitron, sans-serif;
    font-weight: 900;
    display: flex;
    align-content: right;
    transition: color 0.25s, border-color 0.25s, background 0.25s;
}
.lightMode .title {
    color: var(--yellow);

}
.title:hover {
    color: var(--white);
    text-decoration: none;
}
.lightMode .title:hover {
    color: var(--black);
    text-decoration: none;
}

h1 {
    font-size: 60px;
    font-weight: 200;
    font-family: Raleway, sans-serif;
    color: var(--white);
}
.lightMode h1 {
    color: var(--black);

}

h2 {
    color: var(--white);
    font-size: 40px;
    font-weight: 200;
    font-family: Raleway, sans-serif;
}
.lightMode h2 {
    color: var(--black);
}

h3 {
    color: var(--white);
    font-size: 35px;
    font-weight: 400;
    font-family: Raleway, sans-serif;
}
.lightMode h3 {
    color: var(--black);
}


/* CARDS */
.card {
    border-radius: 10px;
    padding: 20px;
}
.lightMode .card {
    background-color: rgba(47, 47, 47, 0.059);
    border-radius: 10px;
    padding: 20px;
}
.card.info {
    border: 1px solid var(--dgrey);
    background-color: var(--dgrey);
    border-radius: 10px;
    padding: 20px;
}
.lightMode .card.info {
    border-color: var(--black);
    background-color: rgba(56, 56, 53, 0.066);
}
.card.info:hover {
    border: 1px solid var(--green2);
    background: none;
    border-radius: 10px;
    padding: 20px;
    transition: color 0.25s, border-color 0.25s, background 0.25s;
}
.lightMode .card.info:hover {
    border-color: var(--yellow);
}

/* LINKS */
button {
    color: var(--green2);
    background: none;
    border: 2px;
    border-style: solid; 
    font-family: Raleway, sans-serif;
    border-radius: 60px;
    cursor: pointer;
    padding: 10px 20px;
    line-height: 1em;
    transition-duration: 0.5s;
}
.lightMode button {
    color: var(--black);
}
button:hover {
    background-color: var(--green);
    color: var(--black);
    transition-duration: 0.5s;
}
.lightMode button:hover {
    background-color: var(--yellow);
    color: var(--black);
    transition-duration: 0.5s;
}

.cardbutton {
    color: var(--green);
}

a {
    text-decoration: none;
}

.link {
    color: var(--white);
    font-size: 35px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    transition: color 0.25s, border-color 0.25s, background 0.25s;
}
.link:hover {
    color: var(--green);
    text-decoration: none;
}
.lightMode .link {
    color: var(--black);
}
.lightMode .link:hover {
    color: var(--yellow2);
}



/* to center light/dark mode icon vertically in button*/
.icon {
    display: flex;
}



/* MEDIA QUERIES */
@media screen and (max-width: 880px) {
    header {
        /* display: flex; */
        flex-wrap: wrap;
        padding-bottom: 2px;
    }
    .layout {
        grid-template-rows: auto auto 75px;
    }
    button{
        margin: 2px;
    }
    .footer {
        background: none;
    }
}

/* 
@media screen and (max-width: 700px) {
    header {
        padding: none;
        margin: none;;
    }
    .nav {
        padding: none;
    }
}   */
